body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content {
    text-align: center;
  }
  
  .heart-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .heart {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .heart::before,
  .heart::after {
    content: '';
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;
  }
  
  .heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .heart-container .heart.animate {
    animation: heartbeat 1s infinite;
  }
  
  #message {
    margin-top: 20px;
    font-size: 24px;
    color: red;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #888;
  }
  .containerv1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #ff5252;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ff8282;
  }